.footer{
		
	background-color:#250f3f;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 5vh;
	&__row{
		text-align: center;
	}
	&__logo{
		color: white;
		font-size: 14px;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: 0.4px;
	}
	&__text{
		color: white;
		font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.4px;
	}
}